.button{
    display: block;
    width: 231.83px;
    height: 47px;
    background-color: #333333;
    border: 1px solid #FFFFFF;
    font-family: Roboto;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
}